/* Element */

body {
  background: linear-gradient(to left,#365470, #89253e);
  height: 80vh;
}
p, span {
  color: white;
}
table {
  display: flex;
}
li {
  font-size: 20px;
  padding: 10px;
  list-style-type: none;
}

/* Class */

.centerIt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  margin-top: 50px;
  height: 100%;
}

/* ID */

#display {
  background: linear-gradient(to top, rgba(100,100,100,.4), rgba(150,150,150,.4));
  border-radius: 15px;
}
#input {
  width: 100px;
}
#input, #start {
  height: 30px;
}
#time {
  font-size: 50px;
}
#numberLimit {
  width: 70px;
}
#equation, #scoreboard {
  font-size: 25px;
}
#slider {
  margin: 10px 0;
}